
:root {
    --primary-color: #0e2b36;
    --secondary-color: #568089;
    --text-color: #fff;
    --spacing: 10px;
    --font-family: Arial, sans-serif;
}

body {
    font-family: var(--font-family);
    background-image: url('snooker.png');
    background-size: cover;
    background-attachment: fixed;
    background-color: #333;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    position: relative;
}

.header {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0);
    padding-top: var(--spacing);
}

.header h1 {
    margin-bottom: 0.5px;
}

.youtube {
    color: rgb(255, 0, 51, 1);
    font-weight: 900;
}

.video-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-grow: 1;
    padding-bottom: 20px;
}

.video {
    width: calc(45% - 20px);
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(68, 68, 68, 0.01);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    flex-grow: 1;
}

.video iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    border: none;
    position: relative;
    z-index: 1;
    flex-grow: 1;
}

.video input[type="text"],
.video button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(25, 64, 132, 0.5);
    color: var(--text-color);
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0 0 0 0 transparent;
}

.video input[type="text"]:focus {
    background-color: rgb(25, 64, 132);
    color: var(--text-color);
}

.video input[type="text"]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #666 inset;
    -webkit-text-fill-color: var(--text-color);
}

.video input[type="text"]::placeholder {
    color: var(--text-color);
}

.video button:hover {
    background-color: rgb(25, 64, 132, 0.9);
}

.video h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 75%;
    color: var(--text-color);
}

@media only screen and (max-width: 768px) {
    .video-container {
        flex-direction: column;
        align-items: center;
    }

    .video {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    .video-container {
        padding: 10px;
    }

    .video {
        width: 90%;
        padding: 10px;
    }

    .video input[type="text"],
    .video button {
        padding: 5px;
    }
}

@media only screen and (max-width: 320px) {
    .video-container {
        padding: 5px;
    }

    .video {
        width: 95%;
        padding: 5px;
    }

    .video input[type="text"],
    .video button {
        padding: 2px;
    }
}

.marquees {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    text-align: center;
    z-index: 1;
}

.marquees a {
    color: #fff;
    text-decoration: none;
}
